.post-entry pre,
.post-entry .highlight {
  margin: 0;
  background: #2d2d2d;
  padding: 1rem;
  border-style: solid;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 1.3rem;
}
.post-entry .highlight .gutter pre,
.post-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 1em;
}
.post-entry pre,
.post-entry code {
  font-size: 0.8rem;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.post-entry code {
  margin: 0 0.5rem;
  color: #ff502c;
  background: #fff5f5;
  padding: 0 0.3em;
  border-radius: 3px;
  border: 1px solid #eee;
  font-size: 0.9rem;
}
.post-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.post-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.post-entry .highlight table {
  margin: 0;
  width: auto;
}
.post-entry .highlight td {
  border: none;
  padding: 0;
}
.post-entry .highlight figcaption {
  font-size: 0.9em;
  color: #999;
  line-height: 2em;
  margin-bottom: 1em;
}
.post-entry .highlight figcaption a {
  float: right;
}
.post-entry .highlight .gutter pre {
  text-align: left;
  padding: 0 10px;
}
.post-entry .highlight .line {
  height: 1rem;
}
.post-entry .highlight .line.marked {
  background: #515151;
}
.post-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: color-border;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.post-entry .gist .gist-file {
  border: none;
  font-family: Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.post-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.post-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.post-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.post-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.post-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.post-entry .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
.post-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
